ul.progress {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul.progress li {
	background-color: #eaeaea;
	margin: 0;
	padding: 12px 20px;
}

ul.progress li p {
	margin: 0;
}

ul.progress li p.progress {
	margin: 8px 0;
}

ul.progress li p.status {
	color: #646464;
}

p.progress {
	border: 1px solid #fff;
	height: 12px;
	-webkit-background-clip: padding-box;
	
	-webkit-border-radius: 6px;
	background: -webkit-gradient(linear, 0 0, 0 60%, from(#9a9c9f), to(#d8d9db));
	overflow: hidden;
}

p.progress span {
	display: block;
	height: 12px;
	-webkit-border-radius: 6px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#59a5d1), to(#2b66ab));
	-webkit-transition: width 1s linear;
}