ul#tvShowList {
	margin: 0;
	padding: 0;
}

ul#tvShowList li {
	position: relative;
	
	list-style-type: none;
	margin: 0;
	height: 130px;
	background-size: 703px 130px;
	-webkit-background-size: 703px 130px;
	padding-right: 20px;
}

ul#tvShowList li span.label {
	position: absolute;
	text-align: right;
	font-size: 24px;
	font-weight: bold;
	bottom: 10px;
	right: 10px;
	text-shadow: 0 3px 8px rgba(0,0,0,0.5);
	color: white;
}

ul#tvShowList li.active span.label {
	display: none;
}

div.tvshow {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 10px;

	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.5);

	width: 700px;
	left: 162px;

	-webkit-border-radius: 9px 9px 0 0;
	background-color: white;
}

table.episodes {
	width: 100%;

	font-size: 13px;

	border-spacing: 0;
}

table.episodes td {
	border-bottom: 1px solid lightgrey;
	padding: 8px;
	margin: 0;
}

table.episodes tr {
	margin: 0;
	padding: 0;
}

table.episodes tr:nth-child(even) {
	background-color: #f6f6f6;
}

div.videoplayer {
	position: absolute;
	top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}